@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --cor-primaria: #f2d399;
  --cor-texto: #731f17;
  --cor-fundo: #f2f2f0;
  --cor-destaque: #f4c95d;

  --fonte-destaque: "Playfair Display", serif;
  --fonte-principal: "Nunito", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #f2f2f0;
  font-family: arial, sans-serif;
}

header {
  font-family: var(--fonte-destaque);
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  background-color: #f2d399;
  align-items: center;
  padding: 10px 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/*------ LOGO -----*/
.logo {
  height: 80px;
  width: 100px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 20px;
}

/*----- MENU -----*/
.menu {
  position: relative;
  width: 1300px;
}

.menu ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

/*----- ESPECIFICDADE -----*/
.menu ul li a {
  position: relative;
  padding: 10px 30px;
  color: #731f17;
  text-decoration: none;
}

/*----- O que a tag "position" seja "absolute" ou "relative" faz?-----*/

/*--- *RELATIVE* Você pode ajustar a posição dele levemente com top, left, right, ou bottom, e ele será deslocado a partir do lugar original e o espaço ocupado continua o mesmo.---*/

/*--- *ABSOLUTE* elemento sai do fluxo normal da página — ou seja, não ocupa espaço como antes, ele é posicionado em relação ao primeiro ancestral com position: relative, absolute ou fixed, caso nenhum ancestral tiver position definida, ele será posicionado em relação ao <body> (ou <html>)---*/

.menu ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #541812;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
  height: 1px;
  width: 100%;
}

.menu ul li a:hover::before {
  transform: scaleX(1);
}

/*----- SEÇÃO HOME -----*/
.linha_home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(trattoria_home.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container_home {
  width: 1200px;
  height: 100%;
  padding-top: 100px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.slogan {
  text-shadow: 5px 5px 10px #6d3e3a;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  color: var(--cor-fundo);
  font-size: 80px;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 600px;
  height: auto;
  margin-bottom: 100px;
}

.container {
  width: 1200px;
  height: 100%;
  padding-top: 100px;
  color: var(--cor-texto);
  display: flex;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*----- SEÇÕES -----*/
.linha {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
}

/*----- CARDAPIO -----*/

.tipo {
  border-radius: 15px;
  background-color: var(--cor-primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-bottom: 5px;
}

.cardapio {
  margin: 5px;
  height: 400px;
  width: 30%;
  display: flex;
  align-content: start;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 #afafae;
}

.cardapio:hover {
  box-shadow: 0 4px 8px 0 #afafae, 0 6px 20px 0 #541812;
  transition: 1s;
  transform: scale(1.03);
}

.cardapio img {
  width: 100%;
  height: auto;
  display: flex;
}

.foto_alimento {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  background-color: var(--cor-fundo);
  width: 100%;
  height: 200px;
}

.foto_alimento img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.pequeno_texto {
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 150px;
  background-color: var(--cor-fundo);
}

/*----- RODAPÉ -----*/
footer {
  height: 300px;
  width: 100%;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rod_logo {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
}

.rod_logo img {
  height: 200px;
}

.colu_rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
}

.local {
  height: auto;
  width: 85%;
}

.social_media {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.social_media ul {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.social_media img {
  border-radius: 100px;
  height: 85px;
}
.social_media img:hover{
  transform: scaleY(100px);
  box-shadow: 0 4px 8px 0 #afafae, 0 6px 20px 0 #541812;
  transition: 1s;
  transform: scale(1.03);
  transform: translate(0, -10px);
}


/* LARGURA DO MONITOR 1920px
LARGURA DO CARDAPIO 1200px (para sobrar)
ALTURA HEADER 120px
ÁREAS DO SITE 100vh */